<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link rel="stylesheet" type="text/css" href='/static/disaster11.css'>
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'>
    <title>USA COVID Deaths</title>
</head>

<body>
    <center>
        <div class="main">
            <h1>{{deaths}}</h1>
            <h4> Americans have died of COVID as of {{date}} </h4>
            <br>
            <h3>That's the equivalent of </h3>
            <h2> {{nineElevens}} </h2>
            <h3> 9/11 attacks.</h3>
            <br> 
            {% for item in nine_eleven_dict %}
              <img src="/static/911.png" width="100"> 
            {% endfor %}
            <br>
            <br>
            <br>
            <h3>That's the equivalent of </h3>
            <h2> {{pearl_harbors}} </h2>
            <h3>Pearl Harbors.</h3>
            <br> 
            {% for item in pearl_harbor_dict %}
              <img src="/static/pearl_harbor.png" width="100">
            {% endfor %}
            <br>
            <br>
            <br>
            <h3>That's the equivalent of </h3>
            <h2> {{titanics}} </h2>
            <h3>Titanics.</h3>
            <br> 
            {% for item in titanic_dict %}
              <img src="/static/titanic.png" width="100"> 
            {% endfor %}
            <br>
            <br>
            <br>
            <br>
        </div>
    </center>
    <br>
    <div class="footer">
        <center><a href="https://covidtracking.com/data/api">Data From covidtracking.com</a></center>
    </div>
</body>

</html>