body {
    background-color: black;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Anton", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
}

a:link {
    color: white;
}

a:visited {
    color: darkred;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    letter-spacing: -.1rem;
}

h1 {
    line-height: 1.2;
    font-size: 160px;
    color: red;
}

h2 {
    line-height: 1.25;
    font-size: 80px;
    color: red;
}

h3 {
    line-height: 1.3;
    font-size: 42px;
    color: white;
}

h4 {
    letter-spacing: -.08rem;
    line-height: 1.35;
    font-size: 36px;
    color: red;
}

div.main {
    font-family: Anton;
    width: 855px;
    margin: 0 auto;
    text-align: center;
}

div.footer {
    background-color: red;
}